@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NanumSquareR.eot) format("eot"), url(../fonts/NanumSquareR.woff) format("woff"), url(../fonts/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumSquareB.eot) format("eot"), url(../fonts/NanumSquareB.woff) format("woff"), url(../fonts/NanumSquareB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NanumSquareEB.eot) format("eot"), url(../fonts/NanumSquareEB.woff) format("woff"), url(../fonts/NanumSquareEB.ttf) format("truetype");
}

/*@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }*/
html, body {
  font-size: 16px;
  font-weight: normal;
  font-family: 'NanumSquare' sans-serif;
}
